<div class="mt-4">
	<div class="row">
		<div class="col-lg-3 col-xl-3">
			<h1>Thông tin khóa học</h1>
			<img class="card-img-top" src="{{Course.images}}">
		</div>
		<div class="col-lg-9 col-xl-9">
			<h2 class="text">
				{{Course.name}}
			</h2>
			<div class="content">
				<p>{{Course.des}}</p>
			</div>

		</div>
	</div>
</div>