    <footer>
        <div class="splitter"></div>
        <ul>
            <!-- three footer columns are here -->
        </ul>
 
        <div class="bar">
            <div class="bar-wrap">
                
 
                <div class="social">
                    <!-- social icons are here -->
                </div>
                <div class="clear"></div>
                <div class="copyright">&copy;  2014 All Rights Reserved</div>
            </div>
        </div>
    </footer>